<%- include('bootheader') -%>
<%- include('menubar') -%>
<h1>
  Join a game
</h1>
Enter the gamePIN and press the button below to play a game:
<form method="post" action="/playingGame">
  gamePIN: <input type="text" name="gamePIN"><br>
  
  <input type="submit">
</form>
<%- include('bootfooter') -%>
