<%- include('bootheader') -%>
<%- include('menubar') -%>
    <div class="jumbotron">
        <h1>Contact Tracing App 2020</h1>
        <p>Help remember who you were with and when and where</p>
    </div>

<!--  Need a form to get 
      data, where, who, howlong, description 
  and send to /addContact -->



<%- include('bootfooter') -%>
