<%- include('bootheader') -%>
<%- include('menubar') -%>
<h1>
  Recipe Demo
</h1>
<form method="post" action="/showrecipes">
  meal: 
      <input type="text" name="meal"><br>
  ingredients (separated by commas)
      <input type="text" name="ingredients"><br>
  <input type="submit">
</form>
<%- include('bootfooter') -%>
